{% load url from future %}
{% load activeurl %}


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>
            {% block title %}
                django-activeurl
            {% endblock %}
        </title>
        <meta name="description" content="Easy to use active url highlighting for django">
        <meta name="keywords" content="django, active url, highlighting">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}skel/css/bootstrap.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}skel/css/bootstrap-responsive.css">

        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>

        <link rel="stylesheet" href="{{ STATIC_URL }}skel/css/gh-fork-ribbon.css" />
        <!--[if IE]>
            <link rel="stylesheet" href="{{ STATIC_URL }}skel/css/gh-fork-ribbon.ie.css" />
        <![endif]-->

        <script src="{{ STATIC_URL }}skel/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <div class="github-fork-ribbon-wrapper right">
            <div class="github-fork-ribbon">
                <a href="https://github.com/hellysmile/django-activeurl">Fork me on GitHub</a>
            </div>
        </div>

        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="/">django-activeurl</a>
                    <div class="nav-collapse collapse">
                        {% block navi %}
                            {% activeurl %}
                                <ul class="nav">
                                    {% for simplepage in navi_simplepages %}
                                        <li>
                                            <a href="{% url 'simplepage_detail' slug=simplepage.slug %}">
                                                {{ simplepage.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                    <li class="dropdown">
                                        <a href="{% url 'simplepages_list' %}" class="dropdown-toggle" data-toggle="dropdown">simplepages<b class="caret"></b></a>
                                        {% activeurl %}
                                            <ul class="dropdown-menu">
                                                {% for simplepage in navi_simplepages %}
                                                    <li>
                                                        <a href="{% url 'simplepage_detail' slug=simplepage.slug %}">
                                                            {{ simplepage.title }}
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endactiveurl %}
                                    </li>
                                </ul>
                            {% endactiveurl %}
                        {% endblock %}
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">

            <!-- Example row of columns -->
            <div class="row">
                <div class="span12">
                    {% block content %}
                        <h2>django-activeurl</h2>
                        <p><a class="btn" href="https://github.com/hellysmile/django-activeurl">View details &raquo;</a></p>
                    {% endblock %}
                </div>
            </div>

            <hr>

            <footer>
                <p>&copy; <a href="https://github.com/hellysmile/django-activeurl">django-activeurl</a></p>
            </footer>

        </div> <!-- /container -->

        <script src="{{ STATIC_URL }}skel/js/vendor/jquery-1.9.1.min.js"></script>

        <script src="{{ STATIC_URL }}skel/js/vendor/bootstrap.min.js"></script>
    </body>
</html>
